{# src/OC/PlatformBundle/Resources/views/Default/social.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
  <div class="row">
   <span class="text-info">
       <h1>Social</h1>
   </span>
   <hr/>
 </div>
{% endblock name %}

{% block container %}
  <div class="row">
    <img class="col-md-2" src="{{ user.photo }}" alt="[ photo de profil ]" height="100" width="100">
    <div id="social_photo_nom">{{ user.prenomutilisateur | capitalize }} {{ user.nomutilisateur | upper}}</div>
  </div>



  <!-- section amis -->
  <div class="row social_row">

    <!-- "titre" -->
    <div class="col-md-3">
      <h2>Amis</h2>
      <a class="btn btn-primary" href="social/amis">Voir les amis</a>
    </div>

    <!-- tableau activités des amis (affiche les 5 derniers entrainements)-->
    <div class="col-md-9">
      <h3>Derniers entrainements des amis :</h3>
      <ul class="list-group">
        {% if listeEntrainements|length == 0 %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10">
                Aucun entrainement disponible.
              </div>
            </div>
          </li>
        {% endif %}
        {% for l in listeEntrainements %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10">
                {{l.username}} :
                {{l.dateFinEntrainement|date("d/m/Y")}} -
                {{l.descriptionEntrainement}}
              </div>
              <a class="col-md-2 btn btn_historique_entrainement btn-primary" href="#">Afficher</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <!--nav class="social_row_nav">
        <ul class="pagination">
          <li><a arial-label="Previous"><<</a></li>
          <li><a>1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a arial-label="Previous">>></a></li>
        </ul>
      <nav-->
    </div>
  </div>



  <!-- section groupe -->
  <div class="row social_row">

    <!-- "titre" -->
    <div class="col-md-3">
      <h2>Groupes</h2>
      <a class="btn btn-primary" href="/social/groupes">Voir les groupes</a>
    </div>

    <!-- tableau des défis des groupes -->
    <div class="col-md-9">
      <h3>Derniers défis des groupes :</h3>
      <ul class="list-group">
        {% if listeDefis|length == 0 %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10">
                Aucun défi disponible.
              </div>
            </div>
          </li>
        {% endif %}
        {% for d in listeDefis %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10">
                Défis#{{d.IDDefis}} de {{d.username}} : {{d.distance}} m en {{d.temps}} min
              </div>
              <a class="col-md-2 btn btn_historique_entrainement btn-primary" href="#">Afficher</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <!--nav class="social_row_nav">
        <ul class="pagination">
          <li><a arial-label="Previous"><<</a></li>
          <li><a>1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a arial-label="Previous">>></a></li>
        </ul>
      <nav-->
    </div>
  </div>

  <!-- permet de faire un peu de place sous la sectino groupe pour pouvoir la center un peu plus -->
  <div id="social_end_space"></div>
{% endblock %}
