{# src/OC/PlatformBundle/Resources/views/Profile/profilUser.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
  <div class="row">
   <span class="text-info">
       <h1>Profil de {{ user.username }}</h1>
   </span>
   <hr/>
 </div>
{% endblock name %}

{% block container %}
  <div class="row">
    <img class="col-md-2" src="{{ user.photo }}" alt="[ photo de profil ]" height="100" width="100">
    <div class="col-md-10">
      <table class="table table-bordered profil_table">
        <tr>
          <td>
            <ul class="list-unstyled">
              <li>
                Nom : {{ user.nomUtilisateur }}
              </li>
              <li>
                Prénom : {{ user.prenomUtilisateur }}
              </li>
              <li>
                Email : {{ user.email }}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li>
                Pseudo : {{ user.username }}
              </li>
              <li>
                Sexe :
                {% if user.sexeUtilisateur == 0 %}
                  Homme
                {% elseif user.sexeUtilisateur == 1 %}
                  Femme
                {% else %}
                  Autre
                {% endif %}
              </li>
              <li>
                Age : {{ user.ageUtilisateur }} ans
              </li>
              <li>
                Taille : {{ user.tailleUtilisateur }} cm
              </li>
              <li>
                Poid : {{ user.poidsUtilisateur }} kg
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- /.row presentation user-->

  <hr/>

  <div class="row">
    <h2>Derniers entraînements :</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-10">03/04/18 - Muscu 30 min</div>
          <div class="col-md-2 btn btn_historique_entrainement btn-primary">Afficher</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-10">01/02/18 - Vélo 1H</div>
          <div class="col-md-2 btn btn_historique_entrainement btn-primary">Afficher</div>
        </div>
      </li>
      <li class="list-group-item">...</li>
      <li class="list-group-item">...</li>
      <li class="list-group-item">...</li>
    </ul>
    <div class="row">
      <nav class="col-md-6">
        <ul class="pagination no_margin">
          <li><a arial-label="Previous"><<</a></li>
          <li><a>1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a arial-label="Previous">>></a></li>
        </ul>
      </nav>

      <a id="btn_profilUser" class="btn btn-primary col-md-offset-4 col-md-2" href="/profile/user/{{user.id}}/stats">Stats</a>
    </div>
  </div>
  <!-- /.row  tableau entrainements-->
{% endblock %}
