{# src/OC/PlatformBundle/Resources/views/Default/stats.html.twig #}

{# page des stats de l'utilisateur connecté #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
  <div class="row">
   <span class="text-info">
       <h1>Statistiques personnelles</h1>
   </span>
   <hr/>
 </div>
{% endblock name %}

{% block container %}

  <div class="row">
    <h2>Statistiques</h2>

    {{ form_start(form, { 'action': path('test_vues'), 'attr': { 'class': 'test_vues' } }) }}
      <form>
        <table class="table table-bordered">
          <!-- header -->
          <tr>
            <th class="no_border"></th>
            <th>Visibilité</th>
          </tr>

          <!-- temps moyen -->
          <tr>
            <td>
              Temps moyen : {{ userStats.tempsmoyenstat | date('d/m/Y - H:i:s') }}
            </td>
            <td>
              {{ form_widget(form.tempsMoyenStatEstVisible) }}
            </td>
          </tr>

          <!-- Vitesse moyenne -->
          <tr>
            <td>
              Vitesse moyenne : {{ userStats.vitesseMoyennneStat }} km/h
            </td>
            <td>
              {{ form_widget(form.vitesseMoyennneStatEstVisible) }}
            </td>
          </tr>

          <!-- Vitesse maximale -->
          <tr>
            <td>
              Vitesse maximale : {{ userStats.VitesseMaxStat }} km/h
            </td>
            <td>
              {{ form_widget(form.VitesseMaxStatEstVisible) }}
            </td>
          </tr>

          <!-- Distance moyenne parcourue -->
          <tr>
            <td>
              Distance moyenne parcourue : {{ userStats.distanceMoyenneParcourue }} km
            </td>
            <td>
              {{ form_widget(form.distanceTotaleParcourueEstVisible) }}
            </td>
          </tr>

          <!-- Distance totale parcourue -->
          <tr>
            <td>
              Distance totale parcourue : {{ userStats.distanceTotaleParcourue }} km
            </td>
            <td>
              {{ form_widget(form.distanceMoyenneParcourueEstVisible) }}
            </td>
          </tr>

        </table>

        <div class="row">
          <input class="btn btn-primary profil_btn col-md-2" type="submit" value="Valider" />
          <a class="btn btn-primary profil_btn col-md-2" href="/profile">Retour</a>
        </div>

        {{ form_rest(form) }}

      </form>



    {{ form_end(form) }}

  </div>


  <div class="row">
    <br/>
    <h2>Records</h2>
    <p>TODO</p>
  </div>
{% endblock %}
