{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="row">
      {# mettre user.photo en source de l'image #}
      <img src="{{ user.photo }}" alt="[ photo de profil ]" height="100" width="100">
    </div>
    <br/>
    <div class="row">
      <table class="table table-bordered profil_table">
        <tr>
          <td>
            <ul class="list-unstyled">
              <li>
                  Nom : {{ user.nomUtilisateur }}
              </li>
              <li>
                Prénom : {{ user.prenomUtilisateur }}
              </li>
              <li>
                Email : {{ user.email }}
                </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
                <li>
                Pseudo : {{ user.username }}
              </li>
              <li>
                Sexe :
                {% if user.sexeUtilisateur == 0 %}
                  Homme
                {% elseif user.sexeUtilisateur == 1 %}
                  Femme
                {% else %}
                  Autre
                {% endif %}
              </li>
              <li>
                Age : {{ user.ageUtilisateur }}
                </li>
              <li>
                Taille : {{user.tailleUtilisateur }}
              </li>
                <li>
                Poid : {{user.poidsUtilisateur }}
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <a class="btn btn-primary profil_btn" href="./edit">Modifier profil</a>
      <a class="btn btn-primary profil_btn" href="./change-password">Modifier mot de passe</a>
      <a class="btn btn-danger profil_btn" href="#">Supprimer le compte</a>
    </div>
    <!-- /.row -->
</div>
